@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap);


*:focus {
    outline: none;
}

body {
    display: flex;
    background-color: #0f6573;
    background-position: center center;
    color: white;
    text-align:  center;
}


.App {
    text-align:center;
    background-color: #0f6573;
    background-position: center center;
    color: white;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    left: 0px;
    top:50px;
    margin: 2%;

    align-items: center;
}
.menu a{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight:500;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    margin:0 15px;
    font-size:16px;
    letter-spacing:1px;
    position:relative;
}
.menu a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:white;
    left: 0px;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menu a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
    0%{
        width: 0;
        left:0;
        right:auto;
    }
    100%{
        left:0;
        right:auto;
        width: 100%;
    }
}
@keyframes out{
    0%{
        width:100%;
        left: auto;
        right: 0;
    }
    100%{
        width: 0;
        left: auto;
        right: 0;
    }
}
.article {
    top: 60px;
    margin: 2% auto;
    max-width: 800px;
}



/* _____________________________________всё для страницы добавления новости __________________________________________*/
#add {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5% auto;
    width: 900px;
    height: 860px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.addnew {
    resize: vertical;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 900px;
    height: 860px;
    background: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}
.addnew h1 {
    margin: 0 0 20px 0;
    color: white;
    font-weight: 300;
    font-size: 28px;
}
.addnew b {
    font-family: 'Roboto', cursive;
    margin: auto 20px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.addbutton Button{
    position: fixed;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    color: bisque;
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 80px;
    background: url('https://static.euronews.com/articles/stories/04/76/47/46/945x531_cmsv2_3df9fae1-ac64-5f15-96e8-d80daac5281a-4764746.jpg');
}
.delbutton Button{
    position: fixed;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    color: bisque;
    width: 60px;
    height: 60px;
    bottom: 80px;
    left: 80px;
    background: url('https://static.euronews.com/articles/stories/04/76/47/46/945x531_cmsv2_3df9fae1-ac64-5f15-96e8-d80daac5281a-4764746.jpg');
}


/*___________________________________________для главной страницы_____________________________________________________*/
#mainy {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.mainpage {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 600px;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}
.mainpage h1 {
    margin: 0 0 20px 0;
    color: white;
    font-weight: 300;
    font-size: 28px;
}
h1 {
    margin: 0 0 20px 0;
    color: black;
    font-weight: 300;
    font-size: 28px;
}
/*__________________________________________регистрация и авторизация_________________________________________________*/
.registration {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    border-radius: 0 2px 2px 0;
}
.registration .check {
    color: black;

}
.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}
.right .rightpart {
    display: block;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: cursive, sans-serif;
    color: white;
    text-align: center;
}
/*_______________________________________________всякие поля вводилки_________________________________________________*/
.registration input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.registration input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid darkslategrey;
    color: darkslategrey;
    transition: 0.2s ease;
}


input[name="title"] {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 15px;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
}

.typ {
    text-align: left; /*чтобы текст в новостях по левому краю выравнивался*/
}

textarea[name="preview"] {
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    height: 90px;
}
textarea[name="text"] {
    font-family: 'Roboto', sans-serif;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
    height: 300px;
}


/*___________________________________________________страница 404_____________________________________________________*/
.errorbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}
.message {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 14%;
    top: 45%;
    width: 75%;
}
.err {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}
.errorbox a {
    text-decoration: none;
    color: white;
}
.errorbox a:hover {
    text-decoration: underline;
}

/*------------------------------------------------search--------------------------------------------------------------*/
.search {
    display: flex;
    justify-content: center;
}
